.blog {
  &__item {
     margin-bottom: 55px;
  }
  &__linkTo {
    cursor: pointer;
  }
  &__popup {
                   
    background: url('../img/content/blog/img.jpg') no-repeat top center;
    background-size: cover;
      padding: 95px 0 100px;
      min-height: 430px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  // .blog__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
  // .blog__items
  &__items {
    flex: 0 1 730px;
  }
  // .blog__img
  &__img {
    max-width: 730px;
    min-height: 420px;
    margin-bottom: 20px;
  }
  // .blog__info
  &__info {
    margin-bottom: 7px;
    font-size: 14px;
line-height: 28px;
color: #707070;

  }
  // .blog__info-date
  &__info-date {
    color: #707070;

  }
  // .blog__info-author
  &__info-author {
    color: #707070;
  }
  // .blog__info-category
  &__info-category {
    color: #707070;
  }
  // .blog__title
  &__title {
    @extend %title-font;
    font-size: 28px;
    line-height: 40px;
    color: $title;
    margin-bottom: 10px;
  }
  // .blog__text
  &__text {
  }
  &__text-quote{
    margin: 140px 0 50px;
    background: rgba(223, 223, 223, 0.5);
    text-align: center;
    .blog__text-quote-title {
      &::after {
        left: 261px;
      }
    }
  }
  // .blog__text-quote
  &__text-quote--item {
    padding: 40px 0 30px 40px;
  }
  // .blog__text-quote-title
  &__text-quote-title {
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
    color: $title;
    padding-bottom: 23px;
    margin-bottom: 23px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #6d7278;
      width: 177px;
      height: 1px;
    }
  }
  // .blog__text-author
  &__text-author {
    @extend %title-font;
    color: $title;
  }
  // .blog__tegs
  // .blog__controle
  &__controle {
    background: #dfdfdf;
    border-radius: 1px;
    margin-bottom: 35px;
  }
  // .blog__controle-prev
  &__controle-prev {
  }
  // .blog__controle-next
  &__controle-next {
  }

  // .blog__comments
  &__comments {
    margin-bottom: 40px;
  }
  // .blog__comments-title
  &__comments-title {
    @extend %title-font;
    color: $title;
    font-size: 20px;
    line-height: 31px;
    margin-bottom: 10px;
  }
  // .blog__comments-block
  &__comments-block {
    display: flex;
  }
  // .blog__comments-avatar
  &__comments-avatar {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    margin-right: 13px;
  }
  // .blog__comments-text-block
  &__comments-text-block {
  }
  // .blog__comments-name
  &__comments-name {
    @extend %title-font;
    color: $title;
  }
  // .blog__comments-date
  &__comments-date {
    font-size: 14px;
    line-height: 28px;
    color: #a1a1a1;
  }
  // .blog__comments-text
  &__comments-text {
  }
  &__comments-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 10px;
  }
  &__comments-reply {
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: #707070;
  }

  // .blog__post-comment
  &__post-comment {
    margin-bottom: 100px;
  }
  &__post-comment-title {
    @extend %title-font;
    color: $title;
    margin-bottom: 25px;
  }
  // .blog__post-comment-form
  &__post-comment-form {
  }
  // .blog__post-comment-yourComment
  &__post-comment-yourComment {
    padding: 14px 15px;
    max-width: 730px;
    width: 100%;
    height: 125px;
    border: 1px solid #dfdfdf;
    border-radius: 24px;
    margin-bottom: 12px;
  }

  &__post-comment-yourName {
    padding: 6px 15px;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    max-width: 360px;
    width: 100%;
    height: 40px;
  }
  &__post-comment-yourEmail {
    height: 40px;
    padding: 6px 15px;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    max-width: 360px;
    width: 100%;
  
  }
  &__post-comment-checkbox-block {
    display: flex;
    align-items: flex-start;
  }

  &__post-comment-low {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
  }
  &__post-comment-checkbox {
    width: 21px;
    height: 21px;
    border: 1px solid #979797;
    box-sizing: border-box;
    margin-bottom: 19px;
  }

  &__post-comment-checkbox-label {
    padding-left: 11px;
  }

  // .blog__post-comment-send
  &__post-comment-send {
    color: #fffff0;
    padding: 5px 50px;
    background-color: #fff;
    background: #363838;
    border-radius: 21px;
  }
  // .blog__category
  &__category {
    margin-bottom: 48px;
  }
  // .blog__category-title
  &__category-title {
    @extend %title-font;
    font-weight: bold;
    line-height: 23px;
    color: $black;
    margin-bottom: 25px;
  }
  // .blog__category-list
  &__category-list {
  }
  // .blog__category-item
  &__category-item {
    margin-bottom: 12px;
  }
  // .blog__category-link
  &__category-link {
    color: $default;
  }
}
.aside {
  flex: 0 1 350px;
  // .aside__search
  &__search {
    position: relative;
    margin-bottom: 44px;
  }
  // .aside__input
  &__input {
    flex: 0 1 350px;
    width: 100%;
    border: 1px solid #383636;
    border-radius: 20px;
    padding: 6px 50px 6px 18px;
    text-decoration: none;
    &::placeholder {
      color: rgba($default, 0.6);
    }
  }
  // .aside__search-btn
  &__search-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 20px;
    top: 25%;
  }
  // .aside__search-btn-img
  &__search-btn-img {
  }
}
.recent-posts {
  // .recent-posts__title
  &__title {
    @extend %title-font;
    font-weight: bold;
    line-height: 23px;
    color: $black;
    margin-bottom: 25px;
  }
  // .recent-posts__item
  &__item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 11px;
  }
  // .recent-posts__list
  &__list {
  }
  // .recent-posts__item-title
  &__item-title {
    color: $default;
  }
  // .recent-posts__date
  &__date {
    font-size: 14px;
    line-height: 28px;
    color: #a1a1a1;
  }
  // .recent-posts__author
  &__author {
    font-size: 14px;
    line-height: 28px;
    color: #a1a1a1;
  }
}
.tags {
  margin-bottom: 39px;
  // .tags__title
  &__title {
    @extend %title-font;
    font-weight: bold;
    line-height: 23px;
    color: $black;
    margin-bottom: 20px;
  }
  // .tags__block
  &__block {
    display: flex;
    flex-wrap: wrap;
  }
  // .tags__btn
  &__btn {
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #8f8d8d;
    padding: 0 16px;

    background-color: transparent;
    border: 1px solid rgba(#454647, 0.5);
    border-radius: 14px;
    margin: 0 10px 10px 0;
  }
}
.social-blog {
  margin-top: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 155px;

  // .social-blog__link
  &__link {
  }
  // .social-blog__img
  &__img {
  }
}
