.header {

   // .header__inner
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 120px;
   }

   // .header__btn
   &__btn {
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
   }
}

.menu {
   padding-right: 15px;

   // .menu__list
   &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   // .menu__list-item
   &__list-item {
      padding-right: 45px;
      padding-left: 35px;
   }

   &__list-link {
      @extend %title-font;
      color: rgba(54, 56, 56, 0.9033);
      line-height: 22px;
      cursor: pointer;
   }
   &__list-link--active {
      padding-bottom: 4px;
      position: relative;
      &::after {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         height: 2px;
         border-radius: 1px;
         background-color: rgba($title, .7);


      }
   }
}

.rightside-menu {
   box-shadow: -2px -1px 20px 0px #000;
   z-index: 1;
   position: absolute;
   top: 0;
   right: 0;
   // bottom: 0;
   width: 100%;
   max-width: 694px;
   background-color: #fff;
   padding-top: 40px;
   transition: all .5s;
   
   // for closed the side menu
   &.rightside-menu--close {
      transform: translateX(150%);
      transition: all .5s;

   }

   // .rightside-menu__close
   &__close {
      background: transparent;
      border: none;
      margin-bottom: 30px;
      padding: 0;
      margin-left: 50px;
      margin-bottom: 60px;
   }

   // .rightside-menu__content
   &__content {
      text-align: center;
      min-width: 485px;
      margin: 0 auto;
   }

   &__logo {
      display: inline-block;
      margin-bottom: 40px;
   }

   // .rightside-menu__title
   &__title {
      @extend %title-font;
      color: $title;
      font-size: 36px;
      line-height: 51px;
      text-align: center;

      &::after {
         margin: 15px auto 17px;
         display: block;
         text-align: center;
         content: '';
         width: 252px;
         border-bottom: 1px solid $line;
      }


   }

   // .rightside-menu__text
   &__text {
      margin: auto;
      text-align: center;
      color: $default;
      margin-bottom: 71px;
      max-width: 485px;
   }

   // .rightside-menu__img
   &__img {
      min-width: 485px;
      margin: 0 auto;
   }
}


.breadcrumbs {
   background: rgba(#dfdfdf, .5);
   padding: 13px 14px;
   // .breadcrumbs__list
   &__list {
      display: flex;
   }
   // .breadcrumbs__link
   &__link {
      font-size: 14px;
      line-height: 28px;
      color: $default;
   }
   // .breadcrumbs__item
   &__item {
      &:after {
         content: '/';
         // margin: -4px 0 4px;
         margin-left: -4px;
         margin-right: 4px;
      }
      &:last-child {
         &:after {
         content: '';
         }
      }
   }
}
