.top {
   // .top__inner
   &__inner {
      padding-bottom: 70px;
      background: url('../img/slider-bg.jpg') no-repeat top;

   }
   // .top__slider
   &__slider {
   }
   &__slider-cover {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   // .top__slider-item
   &__slider-item {
   }
   // .top__slider-img
   &__slider-img {
      margin-left: -14%;
      min-width: 703px;
      height: 815px;
      object-fit: cover;
   }
   // .top__slider-info
   &__slider-info {
      margin-left: 25px;
      max-width: 645px;
   }
   // .top__slider-title
   &__slider-title {
      @extend %title-font;
      font-size: 110px;
      line-height: 135px;
      padding-bottom: 26px;
      margin-bottom: 26px;
      position: relative;
      &::after {
         content: '';
         position: absolute;
         left: 0;
         bottom: 0;
         width: 185px;
         height: 1px;
         background: #6D7278;
      }
   }
   // .top__slider-text
   &__slider-text {

      max-width: 585px;
      color: $default;
   }
   
}
